* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #181818;
    color: #e0e0e0;
    height: 100vh;
    box-sizing: border-box;
}

main {
    display: flex;
    align-items: center;
    
}

h1 {
    font-family: 'Krona One', sans-serif;
    font-size: 3rem;
}

strong {
    color: #ff69b4;
}

p,
footer {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 1.2rem;
    
}

footer {
    font-size: 0.8rem;
}