* {
    margin: 0;
    padding: 0;
    text-decoration: none;        
}

body {
    margin: 8% 14%;
    background-color: #181818;
    color: #e0e0e0;
    height: 100vh;
    box-sizing: border-box;
}

.principal {    
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.principal__textos {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.principal__textos-titulo {
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
}

.destaque {
    color: #ff69b4;
}

.principal__textos-texto,
.rodape {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.principal__textos-subtitulo {
    font-family: "Krona One", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.principal__textos-botoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.principal__textos-botao {
    width: 378px;
    padding: 21px 0;
    border: 2px solid #ff69b4;
    border-radius: 8px;
    text-align: center;
    font-size: 24px;
    color: #ff69b4;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
    