* {
    margin: 0;
    padding: 0;
    text-decoration: none;        
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__navegacao {
    display: flex;
    gap: 80px;
}

.cabecalho__navegacao > a {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #22D4FD;
}

body {
    padding: 8% 14%;
    background-color: #181818;
    color: #e0e0e0;    
    box-sizing: border-box;    
}

.principal {    
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.principal__textos {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.principal__textos-titulo {
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
}

.destaque {
    color: #22D4FD;
}

.principal__textos-texto,
.rodape {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.principal__textos-subtitulo {
    font-family: "Krona One", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.principal__textos-botoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.principal__textos-icone {    
    width: 32px;
}

.principal__textos-botao {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    padding: 21px 0;
    border: 2px solid #22D4FD;
    border-radius: 8px;
    text-align: center;
    color: #e0e0e0;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.principal__textos-botao:hover {
    background-color: #272727;
}

.rodape {
    padding: 24px;
    color: #181818;
    background-color: #22D4FD;
    text-align: center;
}
    